 canvas {
     background: #eee;
     display: block;
     margin: 0 auto;
 }

 body {
     font-size: 1.2rem;
color: white;
     font-family: 'Inconsolata', monospace;
 }

 #container {
     max-width: 80%;
     margin: 0 auto;
     text-align: center;
     border-radius: 0.625rem;
     padding: 0.625rem;
     background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));

     background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));

 }

 .panel {
     max-width: 80%;
     margin: 20px auto;
     border-radius: 0.625rem;
     padding: 0.625rem;
     background: #000;
 }

 button {
     background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));

     background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));



     height: 3rem;
     width: 50%;
     margin-bottom: 1.5rem;
     border-radius: 0.625rem;
     color: white;
     font-size: 2.5rem;
     font-family: 'Prata', serif;
     font-weight: normal;
 }
