body {
    font-size: 1.2rem;
    background: url('img/rect4557.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Inconsolata', monospace;
}

#container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.625rem;
    padding: 0.625rem;
    background: #db1449;
    opacity: 0.98;

}

.panel {
    max-width: 80%;
    margin: 20px auto;
    border-radius: 0.625rem;
    padding: 0.625rem;
    background: #f2bdc8;
}

button {
    background: #db1449;
    height: 3rem;
    width: 80%;
    margin-bottom: 1.5rem;
    border-radius: 0.625rem;
    color: white;
    font-size: 0.8rem;
    font-family: 'Prata', serif;
    font-weight: normal;
}

input {
    border-radius: 0.625rem;
    width: 80%;
    height: 4rem;
    text-align: center;
}

.activeButton {
    background: #addb14;
}
