html,
body {
    height: 100%;
}
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  align-items: center;
  text-align: center;
  background-color: #fe02a2;
  color: #feffca;
}
input {
  font-size: 1.375rem;
  color: #feffca;
  background-color: #f29e8e;
}
a {
  text-decoration: none;
}
p {
  line-height: 145%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Patrick Hand', cursive;
  font-weight: normal;
}
.book {
  display: flex;
  align-items: flex-start;
  width: 31.25rem;
  background-color: #f29e8e;
  padding: 0 3.75rem;
  margin: 0.625rem 0.625rem;
}
.book img {
  width: 100px;
  margin-right: 10px;
}
.book h2 {
  margin: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
